{% extends "consortium.html" %}

{% block container %}

    <div class="subheader"><h2>Keycard Lookup</h2></div>
    <div style="padding-bottom: 10px;">
        <form method="get" action="{% url keycard %}">
            Look up a keycard by number: <input type="text" name="number"/>
            <input type="submit" value="Lookup"/>
        </form>
    </div>

    {% if number %}
        {% if kc %}
            <div class="keycard">
            <h3>{{ kc.name }}</h3>

                <div>
                    <a href="#" onclick="$('#desc').slideToggle();">I have paid the soft skill cost</a>

                    <p id="desc" style="display: none;">{{ kc.description }}</p>
                </div>

                {% if kc.words %}
                    <div>
                        <p>                        Pictionary words for this keycard step:
                            {{ kc.words }}</p>
                    </div>
                {% endif %}

                {% if kc.koan %}
                    <div>
                        <h4>Zendo koan for this keycard step:</h4>

                        <p>{{ kc.koan }}</p>
                    </div>
                {% endif %}

                {% if kc.hintreq %}
                    <div>
                        <a href="#" onclick="$('#hint').slideToggle();">I have paid the hint cost ({{ hintreq }})</a>

                        <p id="hint" style="display: none;">{{ kc.hint }}</p>
                    </div>
                {% endif %}
            <a href="{% url pdf %}?items=refkey{% templatetag openbrace %}{{ kc.number }}{% templatetag closebrace %}&gtc=carditems">Keycard PDF</a>
            </div>
        {% else %}

            <h3>That keycard doesn't exist!</h3>

        {% endif %}
    {% endif %}
{% endblock %}