{% extends "consortium.html" %}

{% block header %}
{% endblock %}

{% block container %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="consortium">
    <p>Login to Consortium</p>
    <form method="post" id="login_form" action="{% url login %}">
        {% csrf_token %}
        <p>
        <label for="id_username">Username</label>
        <input class="login_input" id="id_username" type="text" name="username" maxlength="30" />
        </p>
        <p>
            <label for="id_password">Password</label>
        <input class="login_input" type="password" name="password" id="id_password" />
        </p><p>
            <input id="login_button" class="gradientbutton bluebutton" type="submit" value="Login" />
        </p>
{#        <input type="hidden" name="next" value="/" />#}
    </form>
    </div>
{% endblock %}