{% extends "consortium.html" %}

{% block javascripts %}

    <style type="text/css">@import "{{ STATIC_URL }}css/territory.css";</style>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svg.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.svgdom.js"></script>

    <script type="text/javascript">
{#     {{ t.js_center.0 }}, {{ t.js_center.1 }},#}

        $(function() {

            $('body').data('territories',
                    { {% for t in territories %}'{{ t.code }}':{{ t.to_json|safe }},{% endfor %}
                        'XM':{code: 'XM', center: [0,0], name:'Mogadishu', points:[
                            [187.0, 476.0],
                            [173.4, 476.0],
                            [173.4, 484.5]
                        ], owner:'Chamber of Commerce', color:'blue', special:'City of Mogadishu', s_code:''}
                    });
            $('body').data('factions',
                    { {% for f in factions %}'{{ f.code }}': {{ f.to_json|safe }},{% endfor %}
                    });

            var svg = $("#map").svg({height: 1200, onLoad: function(svg){
                terrs = $('body').data('territories');
                var g = svg.group();
                var defs = svg.defs(g);
                for (var tx in terrs) {
                    var t = terrs[tx];
                    if (t.owner) {
                        var lg = svg.linearGradient(g, t.color+"-grad", [[0, 'white'],[.5, t.color],[1, 'white']], 0,0,0,"100%");
                        var tt = svg.polygon(t.points, {fill:'url(#'+ t.color+'-grad)',stroke:'green',id:t.code,class_:'territory territory_poly territory_'+ t.code});
                    } else {
                        var tt = svg.polygon(t.points, {fill:'#f0f9e7',stroke:'green',id:t.code,class_:'territory territory_poly territory_'+ t.code});
                    }
                    svg.text(t.center[0], t.center[1], t.s_code, {style: "font-size:8px;",id:t.code,class_:'territory territory_text territory_'+ t.code});
                }
                svg.polygon([{{ somalia }}], {fill:'none', stroke:'blue', strokeWidth:2});

            }});
       setInfo = function(terr) {
           $(".territory_"+terr.attr('id'))[0].setAttribute("opacity","0.5");
           var t = $('body').data('territories')[terr.attr('id')];
           $("#t_name")[0].innerHTML = t.name;
           if (t.has_unit) { $("#t_unit")[0].innerHTML = "Yes"; }
           $("#t_owner")[0].innerHTML = t.owner;
           $("#t_special")[0].innerHTML = t.special;
       }

        $('.territory').click(function(e){
                setInfo($(this));
            });
        $('.territory').hover(function(e){
            setInfo($(this));
        }, function(e){
            e.target.setAttribute("opacity","1.0");
            $('#territory_info td');})});
    </script>

{% endblock %}

{% block container %}
    <div id="tcontainer">
    <div id="map" style="height:650px;"></div>
    <div id="territory_info">
    <table>
        <tr><th>Name</th><td id="t_name"></td></tr>
        <tr><th>Owner</th><td id="t_owner"></td></tr>
        <tr><th>Unit</th><td id="t_unit"></td></tr>
        <tr><th>Special</th><td id="t_special"></td></tr>
    </table>
    </div>
    </div>
{% endblock %}