{% extends "consortium.html" %}

{% block container %}
    <h2>Entry Window</h2>
    <div><h3>Your current entry windows:</h3>
        <table width="100%">
            {% for window in current_windows %}
                <tr><td>{{ window.location.room }}</td><td>{{ window.person }}</td><td>{{ window.start_time }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Create a new entry window:</h3>
        <form method="post">
            {% csrf_token %}
            <label for="room">Room:</label><input type="text" id="room" name="room" /><br />
            <label for="person">Person entering:</label> <input type="text" id="person" name="person" /><br />
            <label for="time">Start time (e.g. "3/12 2:15 p.m."):</label> <input type="text" id="time" name="time" />
            <input type="submit" value="Create Entry Window" />
        </form>
    </div>


{% endblock %}