{% extends "consortium.html" %}

{% block container %}
    <div class="subheader"><h2>Security</h2></div>
    <div><h3>Your secure locations:</h3>
    <ul>{% for location in owned_locations %}
        <li>{{ location }}</li>
    {% endfor %}</ul>
    </div>

    <div><h3>Your current entry windows:</h3>
        <table width="100%">
            {% for window in entry_windows %}
                <tr><td>{{ window.location.room }}</td><td>{{ window.person }}</td><td>{{ window.start_time }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Create a new entry window:</h3>
        <form method="post">
            <input type="hidden" name="type" value="entry" />
            {% csrf_token %}
            <label for="room">Room:</label><input type="text" id="room" name="room" /><br />
            <label for="person">Person entering:</label> <input type="text" id="person" name="person" /><br />
            <label for="time">Start time (e.g. "3/12 2:15 p.m."):</label> <input type="text" id="time" name="time" />
            <input type="submit" value="Create Entry Window" />
        </form>
    </div>
    <div><h3>Your current security windows:</h3>
        <table>
            {% for window in security_windows %}
                <tr><td>{{ window.location }}</td><td>{{ window.start_time }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Create a new security window:</h3>
        <form method="post">
            <input type="hidden" name="type" value="security" />
            {% csrf_token %}
            <label for="room">Room:</label><input type="text" id="room" name="room" /><br />
            <label for="time">Start time (e.g. "3/12 2:15 p.m."):</label> <input type="text" id="time" name="time" /><br />          <input type="submit" value="Create Security Window" />
        </form>
    </div>



{% endblock %}