{% extends "consortium.html" %}
{% load i18n %}

{% block container %}
    <div class="node">
        <div class="subheader">
            <h2>Bakaara Market</h2>
        </div>
        <div class="sidebar">
        <ul>
        {% if char %}
            <li>Points: {{ char.points }}</li>
        {% endif %}
            {% if node %}
                <li>            <form method="get" action="{% url node_password node.hex %}">
                <label for="password">Speak Password:</label><input type="text" id="password" name="password" />
            </form></li>
            {% endif %}
            <li><a href="{% url map %}">{% if char %}My {% endif %}Map</a></li>
        </ul>
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}