{% extends "consortium.html" %}
{% load i18n %}

{% block container %}
    <div class="node">
        <div class="nodeheader">
            <h2>Bakaara Market</h2>
        </div>
        <div class="sidebar">
            Points: {{ char.points }}
            {% if node %}
            <form method="get" action="{% url node_password node.hex %}">
                <label for="password">Speak Password:</label><input type="text" id="password" name="password" />
            </form>
            {% endif %}
        </div>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}