{% extends "node/master.html" %}
{% load i18n %}
{% load lookup %}


{% block main %}
    <div class="node">
        <h3>{{ node.name }}, {{ node.quick_desc }}</h3>
        <p>{{ node.long_desc|safe|linebreaks }}</p>

        {% if items %}
            <div id="node_items">
                <h3>{% trans "I can sell you:" %}</h3>
                <ul class="node_sale_item">
                    {% for item in items %}
                        <li><span class="node_sale_item_name">{{ item.name }}</span>
                            ({{ item.rarity_class }})
                    {% if item.available and item.rarity_class != 'Auction' %}<span class="node_sale_item_buy_link">
                        <a href="{% url buy node.hex item.id %}">Buy for {{ item.price }}</a>
                        </span>
                    {% elif item.rarity_class == 'Auction' %}<form style="display:inline;" action='{% url bid node.hex item.id %}' method="post">{% csrf_token %}<label for="amount">Bid:</label><input name="amount" type="text" id="amount" size="2" value="{{ bids|lookup:item }}"/></form>
                    {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="node_neighbors">
            <h3>{% trans "I can introduce you to:" %}</h3>
            <ul class="node_neighbor">
                {% for neighbor in node.get_all_neighbors %}
                    <li>{% if neighbor in char.nodes.all or gm %}<a href="{% url node neighbor.hex %}">{{ neighbor.name }}</a>: {{ neighbor.quick_desc }}{% else %}
                        {{ neighbor.name }}:
                        <span class="node_neighbor_desc">{{ neighbor.quick_desc }}</span>
                        {% if char.points %}
                            <a href="{% url unlock node.hex neighbor.hex %}" class="action">{% trans "Introduce me" %}</a>
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if rumors %}
            <div id="node_rumors">
                {% trans "I know some information:" %}
                {% for rumor in rumors %}
                    <li>
                        <span class="node_rumor_subject">{{ rumor.subject }}</span>
                        <a href="{% url rumor rumor.id %}">{% trans "Tell me" %}</a>&nbsp;
                        <a href="{% url squash rumor.id %}">{% trans "Squelch" %}</a>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}