{% extends "node/master.html" %}
{% load i18n %}


{% block main %}
    <div class="node">
        <h2>{{ node.name }}</h2>
        <p>{{ node.long_desc|safe }}</p>

        <div id="node_items">
        <h3>{% trans "I can sell you:" %}</h3>
            <ul class="node_sale_item">
            {% for item in items %}
                <li><span class="node_sale_item_name">{{ item.name }}</span> -
                    <span class="node_sale_item_cost">{{ item.price }}</span>
                    <span class="node_sale_item_buy_link">
                        <a href="{% url buy item.id %}">Buy</a>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div id="node_neighbors">

            <h3>{% trans "I can introduce you to:" %}</h3>
            <ul class="node_neighbor">
                {% for neighbor in node.get_all_neighbors %}
                    <li><span class="node_neighbor_name">{{ neighbor.name }}</span> -
                        <span class="node_neighbor_desc">{{ neighbor.quick_desc }}</span>
                    {% if char.points %}
                    <a href="{% url unlock node.hex neighbor.hex %}">{% trans "Introduce me" %}</a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if rumors %}
            <div id="node_rumors">
            {% trans "I know some information:" %}
            {% for rumor in rumors %}
                <li>
                    <span class="node_rumor_subject">{{ rumor.subject }}</span>
                    <a href="{% url rumor rumor.id %}">{% trans "Tell me" %}</a>&nbsp;
                    <a href="{% url squash rumor.id %}">{% trans "Squelch" %}</a>
                </li>
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}