{% extends "node/master.html" %}
{% block main %}
    <div class="node">
        <h3>{{ node.name }}, {{ node.quick_desc }}</h3>
    {% if secret %}
        {% if secret.moneycost %}
            <p>"I know what you mean," {{ node.name }} says, "but you must pay me {{ secret.moneycost }} first."</p>
            {% if secret.othercost %}
                <p>"Also, you must do this favor for me."</p>
                <p>"{{ secret.othercost }}"</p>
            {% endif %}
        {% elif secret.othercost %}
            <p>"I know what you mean," {{ node.name }} says, "but you must do me a favor first."</p>
            <p>"{{ secret.othercost }}"</p>
        {% endif %}
        {% if secret.moneycost or secret.othercost %}
            <a href="#secrettext" onclick="$('#secrettext').slideDown(100);">Click here when you have done so.</a>
        {% endif %}
        <br />
        <div id="secrettext" {% if secret.moneycost or secret.othercost %}style="display:none;padding-top:10px;"{% endif %}>
        {{ secret.text }}
        </div>
    {% else %}
    <p>{{ node.name }} says, "... You must be looking for someone else. I don't know what you're talking about."</p>
    {% endif %}
    </div>
    <p>
    <a href="{% url node node.hex %}">Go Back</a>
    </p>
{% endblock %}