//$darkfont: #111;
//$shadow: #333;
//$lightshadow: #666;
//$medbright: #999;
//$lightfont: #aaa;
//$ultralight: #ccc;
//$nearwhite: #eee;

$darkfont: #eee;
$shadow: #ccc;
$lightshadow: #aaa;
$medbright: #999;
$lightfont: #666;
$ultralight: #333;
$nearwhite: #111;

$medred: #844;

$background: url('/static/img/gplaypattern.png') #eee;//url('/static/img/wild_oliva.png');
$headerbg: url('/static/img/subtle_freckles.png') #dde;
$containerbg: url('/static/img/brillant.png') #fff; //url('/static/img/use_your_illusion.png');

$hugefont: 70px;
$bigfont: 30px;
$medfont: 14px;
$smallfont: 11px;
$tinyfont: 8px;
$bodyfont: "Helvetica Neue Ultra Light", Helvetica, sans-serif;

@mixin orbitron {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
}

@mixin shadow-border {
  box-shadow: 0 2px 4px $lightshadow;
  border-radius:5px;
}

@mixin huge-text {
  font-size: $hugefont;
  font-variant: small-caps;
  text-shadow: 0px 2px 3px $shadow;
}

@mixin large-text {
  font-size: $bigfont;
  text-shadow: 0px 1px 2px $shadow;
}

@mixin med-text {
  font-size: $medfont;
  text-shadow: 0px 1px 1px $shadow;
}

@mixin small-text {
  font-size: $smallfont;
  text-shadow: 0px 1px 1px $shadow;
}

@mixin tiny-text {
  font-size: $tinyfont;
  text-shadow: 0px 1px 1px $shadow;
}

@mixin real-center {
  text-align: center;
  margin: auto;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url('/static/fonts/orbitron.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  font-family: $bodyfont;
}

.container {
  margin:50px auto;
  width:700px;
  padding: 20px 10px;
  background: $containerbg;
  color: $nearwhite !important;
  box-shadow: 0px 3px 5px $shadow !important;
  a {
    color: $nearwhite;
    cursor:pointer;
    border-bottom: 1px dotted $nearwhite;
    text-decoration: none;
  }
  a.action {
    border: 1px solid #000;
    color: #222;
    text-decoration: none;
    background-color: #bbb;
    box-shadow: 0px 0px 1px #ccc;
    padding: 0px 4px;
    line-height: $smallfont+10;
    cursor: pointer;
    border-radius: 4px;
    a:hover {
      background-color: #66f;
      box-shadow: 0px 0px 1px #22f;
    }
  }
}


.topbar_left {
  float: left;
}

.topbar_right {
  float: right;
}

$headercolor: $ultralight;

#consortium_header {
  position: absolute;
  top: 0;
  color: $headercolor;
  text-align: center;
  vertical-position: center;
  display: block;
  height: 32px;
  width: 100%;
  box-shadow: 0 0 8px 0 $lightshadow;
  @include med-text;
  @include orbitron;
  background: $headerbg;

  a {
    text-decoration: none;
    color: $headercolor;
  }
  a:visited {
    color: $headercolor;
  }
  a:hover {
    text-shadow: 0px 0px 1px #eee;
  }
  button {
    font-size: 5pt;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 5px 15px 0px 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    height:30px;
  }
}

#consortium_hero {
  @include huge-text;
}

#consortium_tagline {
  @include med-text;
}

#consortium_runtime {
  padding-top: 10px;
  @include large-text;
}

#consortium_countdown {
  @include med-text;
}

#consortium_gms {
  @include med-text;
}

#consortium_teaser {
  @include real-center;
  color: $nearwhite;
  @include large-text;
}

#consortium_intro {
  @include real-center;
}

#consortium_blurb {
  margin: 40px auto 20px auto;
  width: 90%;
  padding: 10px;
  padding-top: 25px;
  background: url('/static/img/light_wool.png') #ddd;
  text-shadow: 0px 1px 1px $shadow;
  box-shadow: 1px 1px 10px #999;
  font-family: $bodyfont;
  text-align: justify;
  color: black;
  border: 1px dashed $shadow;

}

#floater {
  position:relative;
}

#consortium_teaser {
  position:absolute;
  top:-25px;
  left:32%;
  color: $ultralight;
  padding:10px;
  width:33%;
  background: $darkfont;
  @include med-text;
}

.dateline {
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  background: $background;
}

.consortium {
  @include orbitron;
}

#consortium_countdown {
  //text-shadow: 0px 1px 4px #aaa !important;
  margin-bottom: 10px;
}
.login_input  {
  background: $darkfont;
  border: 1px solid black;
  @include small-text;
}

#app_container {
  background: url('/static/img/seamlesspaper1.jpg');
  color: #000;
  padding: 10px;
}



textarea, input {
  border:1px;
  background: #f5f5f5;
  color: $ultralight;
  border: 1px solid $lightshadow;
  border-radius: 3px;
  cursor: pointer;

}



#app {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  @include med-text;

  label, .text {
  }

  input {
    border-radius: 2px;
  }

  .field_error {
    color: #f33;
  }
  .explain {
    @include tiny-text;
    color:$medbright;
    border-bottom: 1px dotted $medbright;
  }
  .explanation {
    @include small-text;
    color: $lightfont;
  }
  .separator {
    text-align: center;
  }

  th {
    text-align: justify;
    padding-right: 15px;
    font-weight:normal;
  }

  #apply {
    margin: auto;
    @include med-text;
  }
}

.consortium_smallheader {
  @include large-text;
  @include real-center;
  @include orbitron;
}

.consortium_text {
  margin: 10px;
  text-align: justify;
  @include med-text;
}

.ooc {
  font-style: italic;
}