@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron-Light"), local("Orbitron-Regular"), url("/static/fonts/orbitron.woff") format("woff"); }

/*
****************************
Generic stuff
****************************
*/
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  background: url("/static/img/gplaypattern.png") #eeeeee; }
  @media screen and (max-width: 720px) {
    body {
      background: url("/static/img/brillant.png") white; } }

a:hover {
  text-shadow: 0px 0px 1px red; }

.container {
  background: url("/static/img/brillant.png") white;
  color: #111111 !important; }
  @media screen and (max-width: 720px) {
    .container {
      width: 100%;
      margin: 42px auto; } }
  @media screen and (min-width: 721px) {
    .container {
      margin: 50px auto;
      width: 700px;
      border-radius: 6px;
      box-shadow: 0px 3px 5px #cccccc !important;
      padding: 20px 10px; } }
  .container a {
    color: #111111;
    cursor: pointer;
    border-bottom: 1px dotted #111111;
    text-decoration: none; }

.topbar_left {
  float: left; }

.topbar_right {
  float: right; }

.consortium_smallheader {
  font-size: 30px;
  text-shadow: 0px 1px 2px #cccccc;
  text-align: center;
  margin: auto;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif; }

.consortium_text {
  margin: 0px 10px;
  text-align: justify;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc; }

.dateline {
  font-weight: bold; }

#consortium_header {
  position: absolute;
  top: 0;
  color: #333333;
  text-align: center;
  vertical-position: center;
  display: block;
  height: 32px;
  width: 100%;
  box-shadow: 0 0 8px 0 #aaaaaa;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  background: url("/static/img/subtle_freckles.png") #ddddee; }
  #consortium_header a {
    text-decoration: none;
    color: #333333; }
  #consortium_header a:visited {
    color: #333333; }
  #consortium_header a:hover {
    text-shadow: 0px 0px 1px #eeeeee; }
  #consortium_header button {
    font-size: 5pt; }
  #consortium_header ul {
    padding: 0;
    margin: 0; }
  #consortium_header li {
    padding: 5px 15px 0px 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    height: 30px; }
  @media screen and (max-width: 620px) {
    #consortium_header {
      height: 32px;
      font-size: 11px; }
      #consortium_header form {
        display: none;
        visibility: hidden; }
      #consortium_header .loginlink {
        display: block;
        visibility: visible; } }
  @media screen and (min-width: 621px) {
    #consortium_header form {
      display: block;
      visibility: visible; }
    #consortium_header .loginlink {
      display: none;
      visibility: hidden; } }

/*
****************************
Front page
****************************
*/
#consortium_intro {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: center;
  margin: auto; }
  #consortium_intro #consortium_hero {
    font-size: 70px;
    font-variant: small-caps;
    text-shadow: 0px 2px 3px #cccccc; }
  #consortium_intro #consortium_tagline {
    font-size: 14px;
    text-shadow: 0px 1px 1px #cccccc; }
  #consortium_intro #consortium_runtime {
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 0px 1px 2px #cccccc; }
  #consortium_intro #consortium_countdown {
    font-size: 14px;
    text-shadow: 0px 1px 1px #cccccc; }
  #consortium_intro #consortium_gms {
    font-size: 14px;
    text-shadow: 0px 1px 1px #cccccc; }
  #consortium_intro #consortium_countdown {
    margin-bottom: 10px; }

#consortium_teaser {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  color: #111111;
  font-size: 30px;
  text-shadow: 0px 1px 2px #cccccc;
  position: absolute;
  top: -20px;
  left: 32%;
  color: #333333;
  padding: 10px;
  width: 33%;
  background: white;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  font-weight: bold;
  border: 1px dashed #cccccc;
  background: #f5f5f5;
  box-shadow: 0px 0px 3px #cccccc; }

#consortium_blurb {
  margin: 30px auto 20px auto;
  width: 90%;
  padding: 10px;
  padding-top: 25px;
  background: url("/static/img/light_wool.png") #dddddd;
  text-shadow: 0px 1px 1px #cccccc;
  box-shadow: 1px 1px 10px #999999;
  font-family: "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: justify;
  color: black;
  border: 1px dashed #cccccc; }

#floater {
  position: relative; }

#app_container {
  background: url("/static/img/seamlesspaper1.jpg");
  color: #000;
  padding: 10px; }

textarea, input {
  border: 1px;
  background: #f9f9f9;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0px 0px 2px #cccccc; }

/*
****************************
Buttons
****************************
*/
.gradientbutton {
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #aaaaaa; }

.gradientbutton:hover {
  box-shadow: 0px 0px 4px blue; }

.greenbutton:hover {
  box-shadow: 0px 0px 4px green; }

.redbutton:hover {
  box-shadow: 0px 0px 4px red; }

/*
****************************
App
****************************
*/
#app {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc; }
  #app input {
    border-radius: 2px; }
  #app .field_error {
    color: #f33; }
  #app .explain {
    font-size: 8px;
    text-shadow: 0px 1px 1px #e6e6e6;
    color: #999999;
    border-bottom: 1px dotted #999999; }
  #app .explanation {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 11px;
    text-shadow: 0px 1px 1px #e6e6e6;
    color: gray; }
  #app .separator {
    text-align: center;
    border-bottom: 1px dotted #cccccc;
    padding-top: 25px; }
  #app th {
    text-align: justify;
    padding-right: 15px;
    font-weight: normal; }
  #app #apply {
    font-size: 18px; }

.ooc {
  font-style: italic; }
