@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron-Light"), local("Orbitron-Regular"), url("/static/fonts/orbitron.woff") format("woff"); }

/*
****************************
Generic stuff
****************************
*/
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  background: url("/static/img/gplaypattern.png") #eeeeee; }
  @media screen and (max-width: 720px) {
    body {
      background: url("/static/img/brillant.png") white; } }

a:hover {
  text-shadow: 0px 0px 1px red; }

div.messages {
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  @media screen and (max-width: 720px) {
    div.messages {
      width: 100%; } }
  @media screen and (min-width: 721px) {
    div.messages {
      width: 720px;
      box-shadow: 0px 3px 5px #cccccc !important; } }
  div.messages #closemsgs {
    float: right;
    padding: 5px; }
    div.messages #closemsgs a {
      cursor: pointer; }
  div.messages ul.messages {
    padding: 0px;
    margin: 0px; }
    div.messages ul.messages :first-child {
      border-top: 1px solid lightgrey;
      padding-top: 6px; }
    div.messages ul.messages :last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    div.messages ul.messages li {
      border-right: 1px solid lightgrey;
      border-left: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      display: block;
      padding: 5px; }
    div.messages ul.messages li.info {
      background: #eef; }
    div.messages ul.messages li.success {
      background: #efe; }
    div.messages ul.messages li.warning {
      background: #ffe; }
    div.messages ul.messages li.error {
      background: #fee; }
    div.messages ul.messages .iconized:before {
      padding-top: 0px;
      padding-left: 15px;
      padding-right: 10px; }

.closemargin {
  margin: 33px auto 10px auto; }

.topmargin {
  margin: 52px auto 10px auto; }

.container {
  position: relative;
  background: url("/static/img/brillant.png") white;
  color: #111111 !important; }
  @media screen and (max-width: 720px) {
    .container {
      width: 100%; } }
  @media screen and (min-width: 721px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 700px;
      border-radius: 6px;
      box-shadow: 0px 3px 5px #cccccc !important;
      padding: 20px 10px; } }
  .container a {
    color: #111111;
    cursor: pointer;
    border-bottom: 1px dotted #111111;
    text-decoration: none; }

.topbar_left {
  float: left; }

.topbar_right {
  float: right; }

.c {
  text-align: center;
  margin: auto; }

.consortium_smallheader {
  font-size: 30px;
  text-shadow: 0px 1px 2px #cccccc;
  text-align: center;
  margin: auto;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif; }

.consortium_text {
  margin: 0px 10px;
  text-align: justify;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc; }

.dateline {
  font-weight: bold; }

#consortium_header {
  position: absolute;
  top: 0;
  color: #333333;
  text-align: center;
  vertical-position: center;
  display: block;
  height: 32px;
  width: 100%;
  box-shadow: 0 0 8px 0 #aaaaaa;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  background: url("/static/img/subtle_freckles.png") #ddddee; }
  #consortium_header a {
    text-decoration: none;
    color: #333333; }
  #consortium_header a:visited {
    color: #333333; }
  #consortium_header a:hover {
    text-shadow: 0px 0px 1px #eeeeee; }
  #consortium_header button {
    font-size: 5pt; }
  #consortium_header ul {
    padding: 0;
    margin: 0; }
  #consortium_header li {
    padding: 5px 15px 0px 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    height: 30px; }
  @media screen and (max-width: 650px) {
    #consortium_header form {
      display: none;
      visibility: hidden; }
    #consortium_header .loginlink {
      display: block;
      visibility: visible; } }
  @media screen and (min-width: 651px) {
    #consortium_header form {
      display: block;
      visibility: visible; }
    #consortium_header .loginlink {
      display: none;
      visibility: hidden; } }

/*
****************************
Front page
****************************
*/
h1 {
  padding: 0px;
  margin: 5px;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  font-size: 70px;
  font-variant: small-caps;
  text-shadow: 0px 2px 3px #cccccc; }
  @media screen and (max-width: 720px) {
    h1 {
      font-size: 60px; } }

h2 {
  padding: 0px;
  margin: 5px;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  font-size: 30px;
  text-shadow: 0px 1px 2px #cccccc; }

h3 {
  padding: 0px;
  margin: 5px;
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  font-weight: bold; }

#consortium_intro {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: center;
  margin: auto; }
  #consortium_intro #consortium_runtime {
    padding-top: 10px; }
  #consortium_intro #consortium_countdown {
    margin-bottom: 10px; }

#consortium_teaser {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  color: #111111;
  font-size: 30px;
  text-shadow: 0px 1px 2px #cccccc;
  position: absolute;
  top: -20px;
  left: 32%;
  color: #333333;
  padding: 10px;
  width: 33%;
  background: white;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc;
  font-weight: bold;
  border: 1px dashed #cccccc;
  background: #f5f5f5;
  box-shadow: 0px 0px 3px #cccccc; }

#consortium_blurb {
  margin: 30px auto 20px auto;
  width: 90%;
  padding: 10px;
  padding-top: 25px;
  background: url("/static/img/light_wool.png") #dddddd;
  text-shadow: 0px 1px 1px #cccccc;
  box-shadow: 1px 1px 10px #999999;
  font-family: "Helvetica Neue Ultra Light", Helvetica, sans-serif;
  text-align: justify;
  color: black;
  border: 1px dashed #cccccc; }

#floater {
  position: relative; }

#app_container {
  background: url("/static/img/seamlesspaper1.jpg");
  color: #000;
  padding: 10px; }

textarea, input {
  border: 1px;
  background: #f9f9f9;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0px 0px 2px #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  margin-left: 2px;
  width: 98%; }

/*
****************************
Buttons
****************************
*/
.gradientbutton {
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #aaaaaa; }

.gradientbutton:hover {
  box-shadow: 0px 0px 4px blue; }

.greenbutton:hover {
  box-shadow: 0px 0px 4px green; }

.redbutton:hover {
  box-shadow: 0px 0px 4px red; }

/*
****************************
App
****************************
*/
#apply {
  display: block;
  cursor: pointer; }

#app {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 0px 1px 1px #cccccc; }
  #app input {
    border-radius: 2px; }
  #app .field_error {
    color: #f33; }
  #app .explain {
    font-size: 8px;
    text-shadow: 0px 1px 1px #e6e6e6;
    color: #999999;
    border-bottom: 1px dotted #999999; }
  #app .explanation {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 11px;
    text-shadow: 0px 1px 1px #e6e6e6;
    color: gray; }
  #app .separator {
    text-align: center;
    border-bottom: 1px dotted #cccccc;
    padding-top: 25px; }
  #app th {
    text-align: justify;
    padding-right: 15px;
    font-weight: normal;
    width: 40%; }
  #app #apply {
    font-size: 18px; }

.ooc {
  font-style: italic; }

/*
****************************
 Territory Control
****************************
*/
#tcontainer {
  margin: auto;
  position: relative;
  width: 500px; }

#map {
  width: 500px; }

.territory {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  font-size: 8px;
  text-shadow: 0px 1px 1px #e6e6e6; }

#territory_info {
  border: 1px solid black;
  width: 300px;
  position: absolute;
  left: 300px;
  top: 420px; }
  #territory_info th {
    padding-top: 5px;
    padding-right: 10px;
    line-height: 20px;
    font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
    font-size: 14px;
    text-shadow: 0px 1px 1px #cccccc;
    vertical-align: center; }
  #territory_info td {
    font-size: 14px;
    text-shadow: 0px 1px 1px #cccccc;
    line-height: 20px;
    vertical-align: center; }
  #territory_info #orderform {
    display: none; }
    #territory_info #orderform #support_mvs {
      display: none; }
    #territory_info #orderform #move_to {
      display: none; }
    #territory_info #orderform #support_to {
      display: none; }
    #territory_info #orderform #special {
      display: none; }
