body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background: url('/static/img/wild_oliva.png');
}

.container {
    background: url('/static/img/use_your_illusion.png');
    color: #ddd !important;
    box-shadow: 0px 3px 5px #111 !important;
    text-shadow: 0px 1px 3px #aaa !important;
}

#consortium_header {
    background: url('/static/img/bg.png');
    font-family: "Orbitron", Helvetica, sans-serif;
    box-shadow: 0 0 8px 0 #000000;
    text-shadow: 0px 2px 3px #2A2A2A;
}

#consortium_logo {
}

#consortium_hero {
    font-family: "Orbitron", Helvetica, sans-serif;
    text-shadow: 0px 2px 4px #aaa !important;

}

#consortium_runtime {
    font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
    text-shadow: 0px 1px 4px #aaa !important;

}


#consortium_countdown {
    font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
    text-shadow: 0px 1px 4px #aaa !important;
    margin-bottom: 10px;

}

#consortium_gms {
    font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
    text-shadow: 0px 1px 4px #aaa !important;

}

.login_input  {
    background: #666;
    border: 1px solid black;
    font-size: 10pt;
    font-family: Helvetica, sans-serif;
}

#login_button {
    background: #666;
    border: 1px solid black;
}

#login_button:hover {
    background: #aaa;
    cursor: pointer;
}