body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background: url('/static/img/wild_oliva.png');
}

.container {
    background: url('/static/img/use_your_illusion.png');
    color: #ddd !important;
    box-shadow: 0px 3px 5px #111 !important;
    text-shadow: 0px 1px 3px #aaa;
}

.consortium {
    font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
}

#consortium_header {
    background: url('/static/img/bg.png');
    font-family: "Orbitron", Helvetica, sans-serif;
    box-shadow: 0 0 8px 0 #000000;
    text-shadow: 0px 2px 3px #2A2A2A;
}

#consortium_logo {
}


#consortium_hero {
    text-shadow: 0px 2px 4px #aaa !important;

}

#consortium_runtime {
    text-shadow: 0px 1px 4px #aaa !important;

}


#consortium_countdown {
    text-shadow: 0px 1px 4px #aaa !important;
    margin-bottom: 10px;

}

#consortium_gms {
    text-shadow: 0px 1px 4px #aaa !important;
}

.login_input  {
    background: #666;
    border: 1px solid black;
    font-size: 10pt;
}

.gradientbutton {
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
    color: #fff;
}

.gradientbutton:hover {
    background: -moz-linear-gradient(top, #662222 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#662222), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #662222 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #662222 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #662222 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #662222 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662222', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
    color: #fff;
}

#login_button {
    font-size: 11pt;
    padding: 3px 4px 0px 4px;
}

#login_button:hover {
    background: #aaa;
    cursor: pointer;
}

#app_container {
    background: url('/static/img/seamlesspaper1.jpg');
    color: #000;
    padding: 10px;
}

#app {
    text-shadow: 0px 1px 1px #aaa;
    padding: 10px;
}

#app label, .text {
    font-size: 11pt;
    font-weight: normal;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

#app textarea, input {
    font-size: 11pt;
    border:1px;
    background: #333;
    color: #fff;
}

#app .appbutton {
}

#app #separator {
    text-align: center;
}

#app th {
    text-align: justify;
    padding-right: 15px;
}

#app #apply {
    margin: auto;
    font-size: 16pt;

}

.consortium_smallheader {
    font-size: 20pt;
    text-align: center;
}

.consortium_text {
    margin: 10px;
    font-size: 12pt;
    text-align: justify;
}
.ooc {
    font-style: italic;
}