$darkfont: #eee;
$shadow: #ccc;
$lightshadow: #aaa;
$medbright: #999;
$lightfont: #666;
$ultralight: #333;
$nearwhite: #111;

$medred: #844;
$redlight: red;
$greenlight: green;
$bluelight: blue;

$darkblue: darkblue;

$info: #eef;
$success: #efe;
$warning: #ffe;
$error: #fee;

$background: url('/static/img/gplaypattern.png') #eee;
$headerbg: url('/static/img/subtle_freckles.png') #dde;
$containerbg: url('/static/img/brillant.png') #fff;
$teaserbg: url('/static/img/honey_im_subtle.png') #aaa;
$woolbg: url('/static/img/light_wool.png') #ddd;

$hugefont: 70px;
$bigfont: 30px;
$medfont: 13px;
$smallfont: 10px;
$tinyfont: 8px;
$bodyfont: "Helvetica Neue Ultra Light", Helvetica, sans-serif;

$breaksmall: 720px;
$breaktiny: 650px;

$headersize: 32px;

@mixin orbitron {
  font-family: "Orbitron", "Helvetica Neue Ultra Light", Helvetica, sans-serif;
}

@mixin shadow-border {
  box-shadow: 0 2px 4px $lightshadow;
  border-radius: 5px;
}
@mixin huge-text {
  font-size: $hugefont;
  @media screen and (max-width:$breaksmall) {
    font-size: $bigfont + 30px;
  }
  font-variant: small-caps;
  text-shadow: 0px 2px 3px $shadow;
}
@mixin large-text {
  font-size: $bigfont;
  text-shadow: 0px 1px 2px $shadow;
}
@mixin med-text {
  font-size: $medfont;
  text-shadow: 0px 1px 1px $shadow;
}
@mixin small-text {
  font-size: $smallfont;
  text-shadow: 0px 1px 1px lighten($shadow, 10%);
}
@mixin tiny-text {
  font-size: $tinyfont;
  text-shadow: 0px 1px 1px lighten($shadow, 10%);
}
@mixin real-center {
  text-align: center;
  margin: auto;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url('/static/fonts/orbitron.woff') format('woff');
}

/*
****************************
Generic stuff
****************************
*/

body {
  padding: 0;
  margin: 0;
  font-family: $bodyfont;
  background: $background;
  font-size: 11pt;

  @media screen and (max-width:$breaksmall) {
    background: $containerbg;
  }
}

a:hover {
  color: red !important;
  text-decoration: underline !important;
  //text-shadow: 1px 1px 1px $redlight;
}

div.messages {
  @include med-text;
  @media screen and (max-width:$breaksmall) {
    width: 100%;
  }
  @media screen and (min-width:$breaksmall+1) {
    width: 720px;
    box-shadow: 0px 3px 5px $shadow !important;
  }
  #closemsgs {
    float:right;
    padding:5px;

    a {
      cursor:pointer;
    }
  }
  ul.messages {
    :first-child {
      border-top: 1px solid lightgray;
      padding-top: 6px;
    }
    :last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    padding:0px;
    margin:0px;
    li {
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      display:block;
      padding:5px;
    };
    li.info {
      background:#eef;
    }
    li.success {
      background:#efe;
    }
    li.warning {
      background: #ffe;
    }
    li.error{
      background: #fee;
    }
    .iconized:before {
      padding-top:0px;
      padding-left:15px;
      padding-right:10px;
    }
  }
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.closemargin {
  //@media screen and (min-width:$breaksmall+1) {
  margin: $headersize+1 auto 10px auto;
  //}
}
.topmargin {
  @media screen and (min-width:$breaktiny+1) {
    margin: $headersize+20 auto 10px auto;
  }
}


.container {
  position:relative;
  @media screen and (max-width:$breaksmall) {
    width: 100%;
    position: static;
    clear:both;

  }
  @media screen and (min-width:$breaksmall+1) {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-radius: 6px;
    box-shadow: 0px 3px 5px $shadow !important;
    padding: 20px 10px;
  }
  background: $containerbg;
  color: $nearwhite !important;
  a {
    color: $darkblue;
    cursor: pointer;
    //border-bottom: 1px dotted $nearwhite;
    text-decoration: none;
  }

  a:before {
    content: "["
  }
  a:after {
    content: "]"
  }
}

.topbar_left {
  float: left;
}
.topbar_right {
  float: right;
}

.c {
  @include real-center;
}

$headercolor: $ultralight;

.consortium_smallheader {
  @include large-text;
  @include real-center;
  @include orbitron;
}

.consortium_text {
  margin: 0px 10px;
  text-align: justify;
  @include med-text;
}

.dateline {
  font-weight: bold;
}

#consortium_header {

  position: absolute;
  top: 0;
  color: $headercolor;
  text-align: center;
  vertical-position: center;
  display: block;
  height: $headersize;
  width: 100%;
  box-shadow: 0 0 8px 0 $lightshadow;
  @include med-text;
  @include orbitron;
  background: $headerbg;

  a {
    text-decoration: none;
    color: $headercolor;
  }
  a:visited {
    color: $headercolor;
  }
  a:hover {
    text-shadow: 0px 0px 1px #eee;
  }
  button {
    font-size: 5pt;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 5px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    height: 30px;
  }
  @media screen and (max-width:$breaktiny) {
    background: none;
    height: auto;
    position: static;
    li.points {
      display: block;
    }

    form {
      display: none;
      visibility: hidden;
    }
    .loginlink {
      display: block;
      visibility: visible;
    }
  }
  @media screen and (min-width:$breaktiny+1) {
    form {
      display: block;
      visibility: visible;
    }
    .loginlink {
      display: none;
      visibility: hidden;
    }
  }

}

/*
****************************
Front page
****************************
*/
h1 {
  padding: 0px;
  margin: 5px;
  @include orbitron;
  @include huge-text;
}

h2 {
  padding: 0px;
  margin: 5px;
  @include orbitron;
  @include large-text;
}

h3 {
  padding: 0px;
  margin: 5px;
  @include orbitron;
  @include med-text;
  font-weight: bold;
}

h4 {
  padding: 0px;
  margin: 5px;
  @include orbitron;
  @include small-text;
  font-weight: bold;
}

#consortium_intro {
  @include orbitron;
  #consortium_runtime {
    padding-top: 10px;
  }
  #consortium_countdown {
    margin-bottom: 10px;
  }
  @include real-center;
}
#consortium_teaser {
  @include orbitron;
  @include real-center;
  color: $nearwhite;
  @include large-text;
  position: absolute;
  top: -20px;
  left: 32%;
  color: $ultralight;
  padding: 10px;
  width: 33%;
  background: white;
  @include med-text;
  font-weight: bold;
  border: 1px dashed $shadow;
  //border: 1px dashed $shadow;
  //border: 1px dashed $shadow;
  background: #f5f5f5;
  box-shadow: 0px 0px 3px $shadow;
}


#consortium_blurb {
  margin: 30px auto 20px auto;
  width: 90%;
  padding: 10px;
  padding-top: 25px;
  background: $woolbg;
  text-shadow: 0px 1px 1px $shadow;
  box-shadow: 1px 1px 10px #999;
  font-family: $bodyfont;
  text-align: justify;
  color: black;
  border: 1px dashed $shadow;
}

#floater {
  position: relative;
}

#app_container {
  background: url('/static/img/seamlesspaper1.jpg');
  color: #000;
  padding: 10px;
}
textarea, input {
  border: 1px;
  background: #f9f9f9;
  color: $ultralight;
  border: 1px solid $lightshadow;
  border-radius: 3px;
  box-shadow: 0px 0px 2px $shadow;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

textarea {
  margin-left: 2px;
  width: 98%;
}

/*
****************************
Buttons
****************************
*/

@mixin gradientbutton {
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 2px $lightshadow;
}

@mixin gbhover {
  box-shadow: 0px 0px 4px $bluelight;

}

.gradientbutton {
  @include gradientbutton;
}
.gradientbutton:hover {
  @include gbhover;
}
.greenbutton:hover {
  box-shadow: 0px 0px 4px $greenlight;
}
.redbutton:hover {
  box-shadow: 0px 0px 4px $redlight;
}

/*
****************************
App
****************************
*/

#apply {
  display: block;
  cursor:pointer;
}


#app {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  @include med-text;

  label, .text {
  }

  input {
    border-radius: 2px;
  }

  .field_error {
    color: #f33;
  }
  .explain {
    @include tiny-text;
    color: $medbright;
    border-bottom: 1px dotted $medbright;
  }
  .explanation {
    padding-top:5px;
    padding-bottom: 15px;
    @include small-text;
    color: lighten($lightfont, 10%);
  }
  .separator {
    text-align: center;
    border-bottom: 1px dotted $shadow;
    padding-top: 25px;
  }

  th {
    text-align: justify;
    padding-right: 15px;
    font-weight: normal;
    width: 40%;
  }

  #apply {
    font-size: $medfont + 4px;

  }
}

.ooc {
  font-style: italic;
}

/*
****************************
 Territory Control
****************************
*/

#tcontainer {
  margin:auto;
  position:relative;
  width:500px;
}

#map {
  width:500px;
}

.territory {
  cursor:pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  @include tiny-text;
}

.territory_unit {
  font-weight: bold;
  //font-variant: small-caps;
  font-size: 9px;
}

#territory_info {
  display:none;
  border:1px solid black;
  width: 300px;
  position:absolute;
  left: 300px;
  top: 420px;
  th {
    padding-top:5px;
    padding-right: 10px;
    line-height: 20px;
    @include orbitron;
    @include med-text;
    vertical-align: center;
  }
  td {
    @include med-text;
    line-height:20px;
    vertical-align: center;
  }
  #tr_owner {
    display: none;
  }
  #tr_unit {
    display: none;
  }
  #tr_order {
    display:none;
  }
  #tr_disband {
    display:none;
  }
  #orderform {

    margin: 5px;
    display:none;
    #otype {
      margin: 5px 0px;
    }

    .rinput {
      color:  blue;
      display:none;
    }
    .rinput + label {
      @include gradientbutton;
      padding: 0px 5px;
      margin: 0px 5px;
      border: 1px solid black;
    }
    .rinput:hover + label {
      @include gbhover;
    }
    .rinput:checked + label {
      font-weight: bold;
      border:  1px solid red;
    }

    #support_mvs {
      display:none;
    }
    #move_to {
      display:none;
    }
    #support_to {
      display:none;
    }
    #special {
      display: none;
    }

  }
}


/*
****************************
Mail
****************************
*/

.mailtable {
    text-align: left;
  .small_td {
    width: 150px;
  }
}
.expand_mail {
  cursor: pointer;
}
.expand_sent_mail {
  cursor: pointer;
}

.showall {
  cursor:pointer;
}

.mail_msg {
  border: 1px solid lightgray;
  margin-bottom: 5px;
  .mail_txt {
    padding:5px;
    padding-bottom: -10px;
    @include med-text;
    background: rgba(200,200,200,.2);
  }
}

.mail-icon {
  width: 50px;
}
.mail-unread {
  color: red;
}
.mail-read {
  color: black;
}
#compose_link {
  cursor:pointer;
}
#compose_link:hover {
  text-shadow: 0px 0px 1px $bluelight;

}

.mailbox {
  margin: 10px;
  margin-bottom:20px;
}


/* Market */

.subheader {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.node {
  overflow: hidden;

  .sidebar {
    float:right;
    padding-top: 10px;
    width: 160px;
    ul {
      padding-left: 0px;
      margin-left: 0px;
    }
    li {
      display:block;
      margin-bottom: 15px;
    }
  }
  .main {
    padding-right: 20px;
    float:left;
    display:block;
    width: 500px;
    border-right:  1px solid lightgray;

  }
  .footer {
    clear:both;
  }

  //a.action {
  //  border-radius: 3px;
  //  border: 1px solid black;
  //  display: inline-block;
  //}
  //a.action:hover {
  //  //color: darkblue !important;
  //  text-decoration: none !important;
  //  @include gbhover;
  //}

}
.ask {
  display:none;
  padding: 10px;
  td {
    width: 400px;
    textarea {
      height: 50px;
    }
  }
  td.lbl {
    width: 200px;
  }
}

.question {
  border: 1px solid black;
  background:  #eeeeee;
  padding: 10px;
  margin: 5px 0px;
  .question-text {
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
  }
  .question-answerer {
    text-align: right;
    font-style: italic;
    @include small-text;
  }
  textarea {
    height: 100px;
  }
  td {
    width: 400px;
    textarea {
      height: 100px;
    }
  }
  td.lbl {
    width: 200px;
  }
}

.answer {
  display:none;
}

.keycard {
  width: 400px;
  border:  1px solid black;
  background:  #f6f6f6;
  padding: 20px;
}