#tcontainer {
  margin:auto;
  position:relative;
  width:500px;
}

#map {
  width:500px;
}

#territory_info {
  border:1px solid black;
  width: 300px;
  position:absolute;
  left: 200px;
  top: 520px;

}