{% extends "consortium.html" %}

{% block headers %}

    <style type="text/css">@import "/static/css/master.css";</style>
    <style type="text/css">@import "/static/css/consortium.css";</style>
    <style type="text/css">@import "/static/css/consortium-style2.css";</style>

{% endblock %}

{% block container %}
    <div class="consortium">
        <div id="consortium_hero">500</div>
        <div class="consortium_runtime">
            <p>Something went wrong.  Sorry!</p>
            <p>ternus has gotten email about it, and I assure you he feels really bad already.</p>
        </div>
    </div>
{% endblock %}