{% load i18n %}
<!DOCTYPE html>

<!-- Written by ternus <ternus at cternus dot net> -->
<!-- http://cternus.net -->

<html>
<head>
    <title>Consortium</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{##}
{#    <style type="text/css">@import "{{ STATIC_URL }}css/elusive-webfont.css";</style>#}
{#    <style type="text/css">@import "{{ STATIC_URL }}css/consortium.css";</style>#}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.corner.js"></script>
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37473259-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    {% block headers %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

{% block header %}
<div id="consortium_header">
    <div id="consortium_header_inner">
        <div class="topbar_left">
            <ul>
                <li id="consortium_logo">
                    <a href="/">
                        {% trans "Consortium" %}
                    </a>
                </li>
                {% if char %}
                <li class="points">
                    <a href="/market/">Bakaara Market</a>
                </li>
                    {% if has_lines %}
                <li class="points">
                    <a href="/succession/">Group Command</a>
                </li>
                        {% endif %}

                {% endif %}
            </ul>
        </div>
        <div class="topbar_right">
            <ul>
            {% if char %}
                <li class="user">{{ char.char.name }}</li>
                <li class="gameday">Day {{ game_day }}</li>
                <li class="logout"><a href="{% url logout %}">Logout</a></li>
            {% else %}
                <li>
                <a href="{% url login %}" class="loginlink">Login</a>
                <form method="post" id="login_form" action="{% url login %}">
                    {% csrf_token %}
                    <label for="id_username">Username</label>
                    <input class="login_input" id="id_username" type="text" name="username" maxlength="30" />
                    <label for="id_password">Password</label>
                    <input class="login_input" type="password" name="password" id="id_password" />
                    <input id="login_button" class="gradientbutton bluebutton" type="submit" value="Login" />
                    <input type="hidden" name="next" value="/market/" />
                </form>

                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<div class="messages {% if messages %}closemargin{% endif %}">
    {% if messages %}

    <div id="closemsgs"><a onclick="$('div.messages').fadeOut(200, function(){$('.container').addClass('topmargin');});">X</a></div>
    <ul class="messages icons">
        {% for message in messages %}
            <li{% if message.tags %} class="iconized
            {% if message.tags == "success" %}
            icon-ok-circle
            {% elif message.tags == "error" %}
            icon-error
            {% elif message.tags == "info" %}
            icon-info-sign
            {% elif message.tags == "warning" %}
            icon-warning-sign
            {% endif %}
            {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

<div class="container note {% if not messages %}topmargin{% endif %}">
    {% block container %}
    {% endblock %}
</div>
</body>