{% extends "consortium.html" %}

{% block headers %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown.js"></script>

    <script type="text/javascript">
        $('document').ready(function () {
            $('#consortium_countdown').countdown(
                    {until:new Date(2013, 2, 8, 20, 0, 0),
                        format:"dHMS",
                        compact:true});
{#            $('#consortium_teaser').corner('bevel cc:#666');#}
            $('#consortium_gms')[0].innerHTML = 'consortium-gms' + '@' + 'mit' + '.edu';
        });

    </script>

{% endblock %}

{% block container %}
    <div class="consortium">
        <div id="consortium_intro">
            <h1>Consortium</h1>
            <h3>A ten-day game of espionage, politics, paranoia, and deceit</h3>
            <h2 id="consortium_runtime">March 8-17, 2013</h2>
            <h3 id="consortium_countdown"></h3>
            <h3 id="consortium_gms">
                <noscript>consortium-gms at mit dot edu</noscript>
            </h3>
            <h3><a href="{{ STATIC_URL }}rules-scenario.pdf">Rules and Scenario</a></h3>
            {% if request.user.username %}<h3>Non-Public: <a href="{{ STATIC_URL }}consortium-playerlist.pdf">Playerlist</a></h3>{% endif %}

        </div>
        <div id="floater">
            <div id="consortium_blurb">
                <div class="dateline">September 8, 2025, MOGADISHU:</div>
                <p>
                    Citing security concerns surrounding last week's alleged nuclear
                    explosion in Western Somalia, the Mogadishu Chamber of Commerce has
                    blockaded all ports and land routes into the country. Although there
                    is no confirmation as of yet, it is believed that this action may be
                    related to the recent terrorist attack that severed Somalia's
                    fiber-optic connection to the world at large. A UN special council
                    has convened to discuss humanitarian aid. Several Middle Eastern
                    nations have pledged to oppose any 'blatant invasions masking as
                    relief efforts,' leading the White House to officially state that it
                    has 'no plans to put boots on the ground at this date.'
                </p>

                <p>
                    Mogadishu has been a thriving corporate hub for the last decade.
                    Discovery of previously unknown rare-earth compounds and a
                    lassez-faire regulatory regime have fueled
                    unprecedented growth in the city's technology and business sectors. Stock prices for corporations
                    headquartered in the city have dipped slightly in reaction to the news
                    and rumors of civil disturbance from unaffiliated militant factions
                    located nearby.
                </p>
                <p>
                        Countering rumors that the official opening date of the Amazon.com Inc. space
                    elevator project, housed just miles outside the city, has
                    been indefinitely delayed, an Amazon spokesperson
                    has issued a statement that the project remains undamaged and the launch gala,
                    scheduled for Sunday evening, remains on schedule.</p>
                <p>
                    In other Mogadishu news: in a departure from its prior isolationist stance, a confidential source
                    within Somalia reports the Mogadishu Chamber of Commerce intends to
                    adjust international trade policy in the wake of its recent technology development initiative.
                    Whether this is related to rumors of highly modernized weaponry in the hands of
                    militant factions remains to be seen. Ambassadors have been observed in closed
                    conference with government and corporate representatives, undoubtedly maneuvering for prime
                    position in this new restructuring.
                </p>
                <p>
                    All eyes are on Mogadishu.  More information as it arrives...
                </p>
            </div>
        </div>
    </div>
{% endblock %}