{% extends "consortium.html" %}

{% block container %}
    <div class="consortium_smallheader consortium">Mogadishu Immigration and Customs Bureau</div>
    <div class="consortium_text" id="app_instructions">
        <p>
            The Government of Somalia is now accepting applications for residential and permanent visas.
            Please fill out the information below to the best of your ability, as it
            will assist us in providing the best possible quality of service.
        </p>
        <p>Applications are due by 6 a.m. EST on the first of March, 2013.
        </p>
        <p class="ooc">
            If you fill out at least your name and email
            and click the "save" button below, your partial app will be saved.  You'll receive an email with a link to your app
            and may resume it at your leisure.
        </p>
    </div>

    <div class="consortium" id="app">
        <form action="{% url app app_id %}" method="POST">
            <div class="appbutton">
                <input type="submit" id="save" class="gradientbutton" name="app_submit" value="Save App" />
            </div>
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr><th>{{ field.label_tag }}</th><td>{{ field }}</td></tr>
                    {% ifequal field.name "how_cast" %}
                    <tr><td colspan="2" id="separator" class="text">The questions below are optional; more detail is always good.</td></tr>
                    {% endifequal %}
                {% endfor %}
            </table>
            <div class="appbutton">
                <input type="submit" value="Apply For Consortium" id="apply" name="app_submit" class="gradientbutton"/>
            </div>
        </form>
    </div>
{% endblock %}