{% extends "consortium.html" %}
{% load humanize %}
{% load lookup %}

{% block javascripts %}
    <script type=text/javascript>

    </script>
{% endblock %}

{% block container %}
    <div class="consortium_smallheader consortium" id="appheader">Mogadishu Bureau of Immigration</div>
    <div class="consortium_text" id="app_instructions">
        <p>
            The Government of Somalia is now accepting applications for residential and permanent visas.
            Please fill out the information below to the best of your ability. We will get back to you with your placement
            as soon as possible.
        </p>
        <p>
            Applications are due by 6 a.m. EST on Friday, the first of March, 2013 {% if game_time %}({{ game_time|naturaltime }}){% endif %}.
        </p>
        <p>Game runs March 8<sup>th</sup>-17<sup>th</sup>, 2013.
        </p>
        <p class="ooc">
            If you fill out at least your name and email
            and click the "save" button below, your partial app will be saved.  You'll receive an email with a link to your app
            and may resume it at your leisure.
        </p>
    </div>
    <div class="consortium" id="app">

        <form action="{% url app app_id %}" method="POST">
        {{ form.non_field_errors }}
            <div class="appbutton">
                <input type="submit" id="save" class="gradientbutton greenbutton" name="app_submit" value="Save App" />
                {% if request.session.saved %}<span id="saved">Saved!</span>{% endif %}
                <a class="explain" onclick="$('.explanation').slideToggle();">Expand All Explanations</a>
            </div>
            {% csrf_token %}
            <table width=100%>
                {% for field in form %}
                <tr><th>{{ field.label_tag }}{% if field.errors %}<span class="field_error">{{ field.errors }}</span>{% endif %}
                {% if form.explanations|lookup:field.name %}
                    <a class="explain"  onclick="$('#explanation_{{ field.name }}').slideToggle();">Explain</a>
                    <div class="explanation" id="explanation_{{ field.name }}" style="display:none;">{{ form.explanations|lookup:field.name|safe }}</div>
                {% endif %}
                </th><td>{{ field }}</td></tr>
                    {% ifequal field.name "how_cast" %}
                        <tr><td colspan="2"><input type="submit" id="save" class="gradientbutton greenbutton" name="app_submit" value="Save App" />                        </td></tr>

                        <tr><td colspan="2" class="text separator">These questions are for statistical purposes and are not required for casting.</td></tr>
                    {% endifequal %}
                    {% ifequal field.name "zephyr" %}
                    <tr><td colspan="2" class="text separator">These questions are optional; more detail is always good.</td></tr>
                    {% endifequal %}
                {% endfor %}
                <tr><td colspan="2"><input type="submit" id="save" class="gradientbutton greenbutton" name="app_submit" value="Save App" /></td></tr>
                <tr><td colspan="2"><input type="submit" value="Apply For Consortium" id="apply" name="app_submit" class="gradientbutton redbutton"/></td></tr>
            </table>
        </form>
    </div>
{% endblock %}